:root {
    --fuente: 'Amatic SC', cursive;
}

* {
    box-sizing: border-box;
}

body {
    background-image: url(/img/2783-papel.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.contenedor {
    width: 50%;
    margin: 5rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    gap: 3rem;
}

.sub-contenedor {
    padding: 0;
    width: 100%;
}

h1,
h2,
h3 {
    text-align: center;
    margin-top: 3rem;
    font-family: var(--fuente);
    font-size: 5rem;
}

h2 {
    font-size: 3rem;
    padding: 0;
}

h3 {
    font-size: 2.5rem;
}

.parrafo {
    font-family: var(--fuente);
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
}

.def_css {
    font-size: 2rem;
}

.color1 {
    color: blue;
}

.color2 {
    color: green;
}

.color3 {
    color: orange;
}

.color4 {
    color: blueviolet;
}

@keyframes changeFontColor {
    0% {
        color: red;
    }

    50% {
        color: blue;
    }

    100% {
        color: green;
    }
}


@keyframes changeColor {
    0% {
        background-color: red;
    }

    50% {
        background-color: blue;
    }

    100% {
        background-color: green;
    }
}


.box {
    width: 200px;
    height: 200px;
    animation: changeColor 3s infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.box2 {
    background-color: black;
    width: 200px;
    height: 200px;
    animation: rotation 10s infinite;
}

.textColor {
    animation: changeFontColor 3s infinite;
}


@keyframes animacion {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(50px);
    }

    50% {
        transform: translateX(0px);
    }

    75% {
        transform: translateX(-50px);
    }

    100%{
        transform: translateX(0px);
    }
}

.box3 {
    width: 200px;
    height: 200px;
    background-color: red;
    animation: animacion 2s infinite;
    animation-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
}

.contenedor-grid{
    width: 70%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 0;
}

.sub-contenedor-ejemplo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 0;
}